name: Main CI
on:
  push:
    branches:
      - main

env:
  ARCHIVE_BUILD_PATH: build

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          token: ${{ secrets.ACTIONS_PTA }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Use Node.js/20.9.0
        uses: actions/setup-node@v4
        with:
          node-version: 20.9.0

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: archive
          path: ${{ env.ARCHIVE_BUILD_PATH }}

  deploy-archive:
    needs: ci
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure Github Pages
        uses: actions/configure-pages@v4

      - name: Download archive Artifact
        uses: actions/download-artifact@v4
        with:
          name: archive
          path: ${{ env.ARCHIVE_BUILD_PATH }}

      - name: Upload archive artifact as GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.ARCHIVE_BUILD_PATH }}
      
      - name: Deploy archive to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4